# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
/.venv/
venv/
.env
.env.*
.envrc
coverage.xml
htmlcov/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.log
logs/

# Build artifacts
dist/
build/
*.egg

# IDEs
.vscode/
.idea/
*.swp

# Generated docs
/docs/api/

# SBOMs and scans
sbom/*.json

# Node
node_modules/

# Flutter
**/build/

# Misc
data/
.DS_Store
